{% extends "base.html" %}
{% block title %}Change you password{% endblock %}
{% block content %}
<h1>Change you password</h1>
<div class="text-center">
    <p>Use the form below to change your password.</p>
</div>
<div class="col-md-4 offset-md-4 shadow-lg p-3 mb-5 bg-light rounded">
    <br>
    <form action="." method="post">
        {{ form.as_p }}
        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-danger pl-5 pr-5">Change Password</button>
        </div>
        <br>
        {% csrf_token %}
    </form>
</div>
{% endblock %}